<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Te llevo APP</ion-title>
    <ion-button fill="outline" size="small" color="warning" (click)="volver()" id="boton"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-card *ngIf="infoConductor" style="text-align: center;">
    <ion-card-header>
      <ion-card-title> {{infoConductor.usuario}}</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-item>
    <ion-list><br>
    Asientos Disponibles: {{infoRuta.capacidad}} <br> <br>
    Modelo: {{infoRuta.modelo}} <br> <br>
    Patente: {{infoRuta.patente}}<br> <br>
    Precio: $ {{infoRuta.precio}}<br><br>
    Hora de salida: {{infoRuta.salida|date:'HH:mm'}}<br><br>
    Inicio: {{infoRuta.inicio}}<br><br>
    Destino: {{infoRuta.destino}}<br><br>
    <ion-button expand="block" type="submit"  (click)="confirmar()">Confirmar viaje</ion-button>
  </ion-list>
</ion-item>
  </ion-card>




</ion-content>
