<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let ruta of rutas">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ruta.usuario}}</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content *ngFor="let ruta of ruta.uber">

        Hora de salida: {{ruta.salida|date:'HH:mm'}} <br>
        Inicio : {{ruta.inicio}} <br>
        Destino: {{ruta.destino}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
